# Created by .ignore support plugin (hsz.mobi)
/my3d.iml
/.idea/
/target/
/my-3d.iml
/my3dserver/my3dserver.iml
/my3dcommon/my3dcommon.iml
/my3dclient/my3dclient.iml
/my3dtransport/my3dtransport.iml
/my3dtransport/my3d-transport.iml
/my3dserver/my3d-server.iml
/my3dcommon/my3d-common.iml
/my3dclient/my3d-client.iml
